[Desktop Entry]
Name=KItinerary Extractor
Name[ca]=KItinerary Extractor
Name[ca@valencia]=KItinerary Extractor
Name[cs]=Extraktor KItinerary
Name[en_GB]=KItinerary Extractor
Name[es]=Extractor de KItinerary
Name[et]=KItinerary hankija
Name[fi]=KItinerary-jäsennin
Name[fr]=Extracteur KItinerary
Name[gl]=Extractor de KItinerary
Name[it]=Estrattore di KItinerary
Name[ko]=KItinerary 추출기
Name[nl]=Extractor van KItinerary
Name[pl]=Wydobywanie KItinerary
Name[pt]=Extracção do KItinerary
Name[pt_BR]=Extrator do KItinerary
Name[sk]=Extraktor KItinerary
Name[sv]=Kitinerary extrahering
Name[uk]=Засіб видобування KItinerary
Name[x-test]=xxKItinerary Extractorxx
GenericName=KItinerary command line extractor
GenericName[ca]=Extractor del KItinerary de la línia d'ordres
GenericName[ca@valencia]=Extractor del KItinerary de la línia d'ordres
GenericName[en_GB]=KItinerary command line extractor
GenericName[es]=Extractor de línea de órdenes de KItinerary
GenericName[et]=KItinerary käsurea hankija
GenericName[fi]=KItineraryn komentorivijäsennin
GenericName[fr]=Extracteur KItinerary en ligne de commande
GenericName[gl]=Extractor de liña de ordes de KItinerary
GenericName[it]=Estrattore a riga di comando di KItinerary
GenericName[ko]=KItinerary 명령행 추출기
GenericName[nl]=Extractor van opdrachtregel van KItinerary
GenericName[pl]=Wydobywane danych z wiersza poleceń KItinerary
GenericName[pt]=Extracção pela linha de comandos do KItinerary
GenericName[pt_BR]=Extrator em linha de comando do KItinerary
GenericName[sk]=Extraktor cez príkazový riadok pre KItinerary
GenericName[sv]=Kitinerary extrahering på kommandoraden
GenericName[uk]=Засіб видобування KItinerary для командного рядка
GenericName[x-test]=xxKItinerary command line extractorxx
Exec=kitinerary-extractor %f
Icon=map-globe
Type=Application
Comment=Command line reservation data extractor.
Comment[ca]=Extractor de dades de reserves de la línia d'ordres.
Comment[ca@valencia]=Extractor de dades de reserves de la línia d'ordres.
Comment[en_GB]=Command line reservation data extractor.
Comment[es]=Extractor de línea de órdenes de reserva de datos
Comment[et]=Käsurea puhkuseandmete hankija.
Comment[fi]=Komentorivin varaustietojäsennin.
Comment[fr]=Extracteur de données de réservation en ligne de commande.
Comment[gl]=Extractor de datos de reservas de liña de ordes.
Comment[it]=Estrattore di dati di prenotazioni a riga di comando.
Comment[ko]=명령행 예약 데이터 추출기입니다.
Comment[nl]=Gegevensextractor van reservering op de opdrachtregel.
Comment[pl]=Wydobywane danych o rezerwacji z wiersza poleceń.
Comment[pt]=Extracção de dados de reservas pela linha de comandos.
Comment[pt_BR]=Extrator em linha de comando de dados de reservas.
Comment[sk]=Extraktor dát pre rezerváciu cez príkazový riadok.
Comment[sv]=Extrahering av reservationsdata på kommandoraden
Comment[uk]=Програма для видобування даних бронювання, керування якою відбувається з командного рядка.
Comment[x-test]=xxCommand line reservation data extractor.xx
Terminal=true
MimeType=application/vnd.apple.pkpass;application/ld+json;application/pdf;text/calendar;text/html;application/json;message/rfc822;
Categories=Qt;KDE;
