[Desktop Entry]
Name=KItinerary Extractor
Name[ca]=KItinerary Extractor
Name[it]=Estrattore di KItinerary
Name[nl]=Extractor van KItinerary
Name[pt]=Extracção do KItinerary
Name[sk]=Extraktor KItinerary
Name[sv]=Kitinerary extrahering
Name[uk]=Засіб видобування KItinerary
Name[x-test]=xxKItinerary Extractorxx
GenericName=KItinerary command line extractor
GenericName[ca]=Extractor del KItinerary de la línia d'ordres
GenericName[it]=Estrattore a riga di comando di KItinerary
GenericName[nl]=Extractor van opdrachtregel van KItinerary
GenericName[pt]=Extracção pela linha de comandos do KItinerary
GenericName[sk]=Extraktor cez príkazový riadok pre KItinerary
GenericName[sv]=Kitinerary extrahering på kommandoraden
GenericName[uk]=Засіб видобування KItinerary для командного рядка
GenericName[x-test]=xxKItinerary command line extractorxx
Exec=kitinerary-extractor %f
Icon=map-globe
Type=Application
Comment=Command line reservation data extractor.
Comment[ca]=Extractor de dades de reserves de la línia d'ordres.
Comment[it]=Estrattore di dati di prenotazioni a riga di comando.
Comment[nl]=Gegevensextractor van reservering op de opdrachtregel.
Comment[pt]=Extracção de dados de reservas pela linha de comandos.
Comment[sk]=Extraktor dát pre rezerváciu cez príkazový riadok.
Comment[sv]=Extrahering av reservationsdata på kommandoraden
Comment[uk]=Програма для видобування даних бронювання, керування якою відбувається з командного рядка.
Comment[x-test]=xxCommand line reservation data extractor.xx
Terminal=true
MimeType=application/vnd.apple.pkpass;application/ld+json;application/pdf;text/calendar;text/html;application/json;message/rfc822;
Categories=Qt;KDE;
